@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
body {
    min-height:100vh;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color:#fbee37;
    background-size:cover;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.header-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.header-sound {
    margin-left: auto;
    display: flex;
}

.header-item {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s;
}

.header-item:hover {
    filter: invert(50%) sepia(50%) saturate(999%) hue-rotate(260deg) brightness(100%) contrast(100%);;
}

.header-item-track {
    background-image: url(../assets/svg/no-music.svg);
    margin-right: 40px;
}

.header-item-track.toggle {
    background-image: url(../assets/svg/music.svg);
}

.header-item-shorttrack {
    background-image: url(../assets/svg/mute.svg);
}

.header-item-shorttrack.toggle {
    background-image: url(../assets/svg/volume.svg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    justify-content: center;
    height: 100%;
    position: relative;
}

.main-area,
.main-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-area {
    width: 512px;
    height: 512px;
    flex-wrap: wrap;
    border: 1px solid black;
    box-sizing: border-box;
}

.main-cell {
    width: 170px;
    height: 170px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 70px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.main-cell:hover {
    background-color: #f063dd;
    cursor: pointer;
}

.main-player {
    font-weight: bold;
    margin: 50px 0 30px 0;
}

.main-reset {
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #000000;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.main-reset:active, .main-reset:focus {
    outline: none;
}

.main-reset::-moz-focus-inner {
    border: 0;
}

.main-reset:hover {
    color: #f063dd;
    border-color: #f063dd;

}

.main-message  {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40%;
    height: 50%;
    background-color: #ffffff;
}

.main-message.active {
    display: flex;
}

.main-winner {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-toggle-player {
    color:#f063dd;
}

.main-steps {
    font-size: 40px;
}

.footer,
.footer-data {
    display: flex;
}

.footer {
    justify-content: space-between;
    padding: 30px 0;
}

.footer-copyright,
.footer-year {
    padding-right: 20px;
}

.footer-link {
    display: block;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

.footer-link:hover {
    color: #f063dd;
}

.footer-link-rss {
    height: 40px;
    width: 100px;
    background-image: url(../assets/svg/logo-rss.svg);
    background-repeat: no-repeat;
    background-position: center;
}