@media (max-width: 425px) {
    .header-title {
        font-size: 40px;
    }

    .main-btn {
        font-size: 18px;
        padding: 15px 30px;
    }
       
    .main-quote {
        font-size: 30px;
        line-height: 40px;
    }

    .main-author {
        font-size: 18px;
    }

    .footer {
        height: 200px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
}
