@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
  body {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background:#d6eee2;
    background: linear-gradient(135deg, #f1faf6 0%,#d6eee2 48%, #c2f0da 100%);
    background-size:cover;
    overflow-y: hidden;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    min-height:100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 30px 0;
}

.header-title {
    text-align: center;
    font-size: 50px;
}

.main {
    padding: 10px 0;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    box-shadow: 0 10px 80px -10px rgba(0, 0, 0, 0.3);
}

.player-video {
    max-width: 1440px;
}

.player-controls {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    transition:all 0.4s;
    /* transform: translateY(100%); */
    background-color: rgba(0, 0, 0, 0.2);
}

.player:hover .player-controls {
    transform: translateY(0);
}

.player-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-button:active, .player-button:focus {
    outline: none;
}

.player-button {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
    cursor: pointer;
    transition: all 0.3s;
}

.player-button:hover {
    filter: invert(80%);
    /* filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%); */
}

.player-button-play {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background-image: url(../assets/svg/video-play.svg);
    background-size: 45px 45px;
}

.player-button-play.toggle {
    background-image: url(../assets/svg/video-pause.svg);
    background-size: 40px 40px;
}

.player-button-sound {
    height: 30px;
    width: 35px;
    margin-right: 20px;
    background-image: url(../assets/svg/sound-volume.svg);
    background-size: 32px 37px;
}

.player-button-sound.toggle {
    background-image: url(../assets/svg/sound-mute.svg);
    background-size: 30.5px 35px;
}

.player-big-button-play {
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(../assets/svg/video-play-btn.svg);
}

.player-big-button-play.transparent {
    display: none;
}

.player-progress {
    background: linear-gradient(to right, #d6eee2 0%, #c2f0da 40%, #fff 40%, #fff 100%);
    border: none;
    height: 10px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
  
  .player-progress::-webkit-slider-thumb {
    width: 1px;
    height: 10px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: rgb(128, 148, 138);
  }

.footer,
.footer-data {
    display: flex;
}

.footer {
    justify-content: space-between;
    padding: 30px 0;
}

.footer-copyright,
.footer-year {
    padding-right: 20px;
}

.footer-link {
    display: block;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

.footer-link:hover {
    color: #2b7e56;
}

.footer-link-rss {
    height: 40px;
    width: 100px;
    background-image: url(../assets/svg/logo-rss.svg);
    background-repeat: no-repeat;
    background-position: center;
}