:root {
    --color-gold: #bdae82;
    --color-black: #000000;
    --color-white: #ffffff;
    --font1: 60px;
    --line-height1: 120px;
    --font2: 40px;
    --line-height2: 80px;
    --font3: 20px;
    --line-height3: 50px;
    --font4: 18px;
    --line-height4: 36px;
    --font5: 24px;
    --line-height5: 48px;
    --font6: 28px;
    --line-height6: 56px;
    --line-height7: 40px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: var(--font3);
    line-height: var(--line-height3);
    color: var(--color-white);
    background-color: var(--color-black);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

h1, h2 {
    font-family: 'Merriweather', serif;
}

h1, h2, h3 {
    margin: 0;
}

/* Header */
.header-container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-link {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../assets/svg/header-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header-nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.header-nav a {
    transition: 0.3s;
}

.header-nav a:hover {
    color: var(--color-gold);
}

.nav-link {
    font-size: var(--font3);
    line-height: var(--line-height3);
    padding: 0 15px;
    transition: all 0.3s;
}

.header-languages {
    margin-left: 20px;
    font-weight: bold;
}

.header-button {
    color: var(--color-white);
    font-size: inherit;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.header-button:hover {
    color: var(--color-gold);
}

.button-en {
    margin-right: 4px;
    color: var(--color-gold); /* <-- Удалить при добавлении скрипта !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
.button-ru {
    margin-left: 4px;
}

.header-humburger {
    display: none;
}

/* Hero */
.hero-container {
    background-image: url('../assets/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center -90px;
}

.section-hero {
    padding: 160px 60px 330px;
}

.title {
    font-size: var(--font1);
    line-height: var(--line-height1);
    margin-bottom: 10px;
}

.hero-description {
    width: 37%;
    padding-bottom: 25px;
}

.hero-description,
.button  {
    line-height: var(--line-height7);
}

.button {
    border: 0;
    background-color: var(--color-gold);
    font-size: inherit;
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    color: var(--color-white);
    transform: scale(1.05);
}

/*For all sections */
.section {
    padding-top: 100px;
}

.wrapper-section-title {
    width: 50%;
    text-align: center;
    margin: auto;
    overflow-x: hidden;
}

.section-title {
    font-size: var(--font2);
    color: var(--color-gold);
    line-height: var(--line-height2);
    padding-bottom: 60px;
}

.section-title-elem {
    position: relative;
}

.section-title-elem::before, .section-title-elem::after {
    content: '';
    position: absolute;
    background-color: var(--color-gold);
    width: 60%;
    height: 2px;
    top: 27%;
}

.section-title-elem::before {
    left: -21%;
}

.section-title-elem::after {
    right: -21%;
}

/* Scills */
.skills-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-item {
    width: 23%;
    padding: 100px 20px 8px;
    background-position: center top;
    background-repeat: no-repeat;
}
  
.skill-item:nth-child(1) {
    background-image: url(../assets/svg/skills-camera.svg);
    background-size: 62px 50px;
}

.skill-item:nth-child(2) {
    background-image: url(../assets/svg/skills-video.svg);
    background-size: 60px 50px;
}

.skill-item:nth-child(3) {
    background-image: url(../assets/svg/skills-image.svg);
    background-size: 66px 50px;
}

.skill-item:nth-child(4) {
    background-image: url(../assets/svg/skills-mic.svg);
    background-size: 32px 50px;
}

.skill-title {
    font-size: var(--font3);
    line-height: var(--line-height7);
    padding-bottom: 20px;
    text-align: center;
}

.skill-subtitle {
    font-size: var(--font4);
    line-height: var(--line-height4);
    text-align: center;
}

/* Portfolio */
.section-title-elem-portfolio::before {
    left: -26%;
}

.section-title-elem-portfolio::after {
    right: -25%;
}

.portfolio-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 60px;
}

.portfolio-btn  {
    border: 2px solid var(--color-gold);
    background-color: var(--color-black);
    color: var(--color-gold);
    font-size: inherit;
    line-height: var(--line-height7);
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: 0.3s;
}

.portfolio-btn:hover {
    color: var(--color-white);
    transform: scale(1);
}

.portfolio-btn.active {
    border: 0;
    background-color: var(--color-gold);
    color: var(--color-white);
    font-size: inherit;
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s;
}

.portfolio-images {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

/* Video */
.video-container {
    padding: 0 20px;
}

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player img {
    width: 100%;
}

.button-play {
    width: 130px;
    height: 130px;
    background-image: url(../assets/svg/video-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: all 0.3s;
}

.button-play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transform: scale(1.05);
}

/* Price */
.section-price {
    padding-bottom: 100px;
}

.price-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.price-card {
    text-align: center;
    border: 3px solid var(--color-gold);
    padding: 41.5px 113px;
}

.price-card-title,
.price-value {
    font-family: 'Merriweather', serif;
}

.price-card-title {
    font-size: var(--font6);
    line-height: var(--line-height6);
    padding-bottom: 20px;
}

.price-value {
    font-size: var(--font5);
    line-height: var(--line-height5);
    color: var(--color-gold);
    padding-bottom: 20px;
}

.price-description {
    padding-bottom: 40px;
}
.price-description-item {
    display: block;
    font-size: var(--font4);
    line-height: var(--line-height4);
}

/* Contacts */
.container-contacts {
    background-image: url(../assets/img/contacts-bg.jpg);
    background-size: auto 700px;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-contacts {
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 20px 195px;
}

.section-title-contacts {
    padding-bottom: 40px;
}

.contacts-form-wrapper {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 450px;
    color: var(--color-gold);
    font-size: var(--font3);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-gold);
    box-sizing: border-box;
    padding: 11px 18px;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: var(--font3);
    font-weight: normal;
    line-height: var(--line-height7);
    color: var(--color-gold);
}

input {
    margin-bottom: 20px;
}

textarea {
    height: 100px;
    resize: none;
    padding-top: 4px;
    margin-bottom: 30px;
}

/* Footer */
.footer-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px 0;
}

.copyright {
    padding-right: 17px;
}

.footer-link-github {
    padding-left: 14px;
}

.footer-link-github,
.footer-link-rsschool {
    transition: 0.3s;
}

.footer-link-github:hover,
.footer-link-rschool:hover {
    color: var(--color-gold);
}

.footer-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-link {
    display: block;
    width: 32px;
    height: 32px;
}

.footer-item:nth-child(1) {
    background-image: url(../assets/svg/footer-inst.svg);
    margin-right: 20px;
}

.footer-item:nth-child(2) {
    background-image: url(../assets/svg/footer-fb.svg);
    margin-right: 20px;
}

.footer-item:nth-child(3) {
    background-image: url(../assets/svg/footer-tw.svg);
    margin-right: 20px;
}

.footer-item:nth-child(4) {
    background-image: url(../assets/svg/footer-pinterest.svg);
}

.footer-item {
    transition: all 0.3s;
}

.footer-item:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transform: scale(1.1);
}